@{ ViewBag.Title = "About"; }

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Site.css" />

    <style>
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

</head>

<body>

    <br />
    <br />
    <br />
    <br />

    <div class="row">

        <div style="position:relative; " class="bannerimages">
            <img class="img-ServicesBannerOne" src="~/Images/About Page/About Us Page Banner 1.jpg" style="width:100%" height="445" />
        </div>
        <div style="position: absolute; color: white; font-family: Arial;font-size: 50px; padding-top:200px; padding-left:630px;" class="ContactUsHeading">About Us</div>
        <div class="bannerimages">
            <img class="img-ServicesBannerTwo" src="~/Images/About Page/About Us Page Banner 2.jpg" tyle="width:100%" height="445" />
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="text-justify">
        <p style="font-size: 18px; color: black; font-family: 'Lato', sans-serif; line-height: 350%;padding-right:220px; padding-left:150px; text-align:center;">
            Vees Tyre and Alignment Centre started off as a basic 24hr tyre repair shop and over the years has grown into a fully equipped workshop offering a variety of services from Puncture repair, wheel fitment and balancing, alignment, suspensions repairs and general vehicle road worthiness.
            The shop is a joint venture between Imraan "Vees" and Mitchell, they would like to take this opportunity to thank their customers for their overwhelming support or the past few years.
        </p>
    </div>

    <div class="RMI Approved">
        <img src="~/Images/About Page/About Us - RMI Approved.png" style="width:1370px;height:530px; position:absolute; padding-top:30px;" />
        <h4 style=" font-weight: bold; font-family: Arial; font-size: 35px; color:white; position:relative; padding-left:890px; padding-top:70px;">RMI Approved</h4>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="column">
            <p style="font-size: 18px; color: black; font-family: 'Lato', sans-serif; line-height: 350%; padding-left:70px; padding-right:40px; padding-top:130px;">
                All our tyres come with a lifetime warranty against factory defects.
                Our entire factory has tyres that have department of transport stamps (dots).
                All our brands (imports) are in the market for over 7 years and in our store more than 5 years.
            </p>
        </div>
        <div class="column" style="">
            <p style="font-size: 18px; color: black; font-family: 'Lato', sans-serif; line-height: 350%; padding-right:110px;padding-top:70px;">
                We are the preferred dealer for many businesses in and out of our immediate area who trust us to service their fleets in terms of tyres, alignment, balancing and general suspension repairs.
            </p>
        </div>
    </div>

</body>