@{ ViewBag.Title = "Contact Us"; }

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Site.css" />


<br />
<br />
<br />
<br />

<div class="row">

    <div style="position:relative; " class="bannerimages">
        <img class="img-ContactUsBannerOne" src="~/Images/Contact Us Page/Contact Us Banner 1.jpg" style="width:100%" height="445" />
    </div>
    <div style="position: absolute; color: white; font-family: Arial;font-size: 50px; padding-top:200px; padding-left:555px;" class="ContactUsHeading">CONTACT US</div>
    <div class="bannerimages">
        <img class="img-ContactUsBannerTwo" src="~/Images/Contact Us Page/Contact Us Banner 2.jpg" style="width:100%" height="445" />
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

