@{ ViewBag.Title = "Services"; }

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Site.css" />

<body>

    <br />
    <br />
    <br />
    <br />

    <div class="row">

        <div style="position:relative; " class="bannerimages">
            <img class="img-ServicesBannerOne" src="~/Images/Services Pages/Services Banner 1.jpg" style="width:100%" height="445" />
        </div>
        <div style="position: absolute; color: white; font-family: Arial;font-size: 50px; padding-top:200px; padding-left:612px;" class="ContactUsHeading">SERVICES</div>
        <div class="bannerimages">
            <img class="img-ServicesBannerTwo" src="~/Images/Services Pages/Services Banner 2.jpg" tyle="width:100%" height="445" />
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        <h4 style=" font-weight: bold; font-family: Arial; font-size: 35px; color:black; position:relative; padding-left:15px; text-align:center;">OUR SERVICES</h4>
    </div>

    <div class="ListOfServices" style="position:center">

        <div class="Service 1 - Suspension" style="float:left;">
            <img class="RedServiceBlock" src="~/Images/Services Pages/Service 1 - Red Block and Suspension.png" style="position:absolute; float:left; width:690px; height:460px; padding-top:40px; padding-left:230px;">
            <div class="Service 1 info Block" style="font-size: 18px; color: white; font-family: 'Lato', sans-serif; line-height: 200%; text-align: justify; position: relative; padding-left:150px; padding-top:70px;">
                <h4 class="Service 1 Number" style="font-size:30px; font-weight:bold; padding-left:110px;">01</h4>
                <h3 class="Service 1 Heading" style="font-size:30px; font-weight:bold; padding-left:110px;">Suspension</h3>
                <ul class="Services 1 List" style="list-style-type:none; padding-top:40px; padding-left:110px;">
                    <li>Wheel Alignment.</li>
                    <li>Shock Supply and Fitment.</li>
                    <li>Suspension service and maintenance.</li>
                </ul>
            </div>

        </div>

        <div class="Service 2 - Tyres">
            <img class="LightGreyServiceBlock" src="~/Images/Services Pages/Service 2 - Light Grey Block and Tyres.png" style="position:absolute; float:right; width:690px; height:460px; padding-top:40px; padding-left:190px;">
            <div class="Service 2 info Block" style="font-size: 18px; color: black; font-family: 'Lato', sans-serif; line-height: 200%; text-align: justify; position: relative; padding-left:130px; padding-top:68px;">
                <h4 class="Service 2 Number" style="font-size:30px; font-weight:bold; padding-left:635px;">02</h4>
                <h3 class="Service 2 Heading" style="font-size:30px; font-weight:bold; padding-left:635px;">Tyres</h3>
                <ul class="Services 2 List" style="list-style-type:none; padding-top:40px; padding-left:640px;">
                    <li>Puncture Repair.</li>
                    <li>Tyre Rotation.</li>
                    <li>Tyre Checks.</li>
                    <li>Tyres Sales.</li>
                    <li>Tyre Fitment.</li>
                    <li>Tyre Fitment.</li>
                </ul>
            </div>
        </div>

        <div class="Service 3 - Safety" style="float:left;">
            <img class="RedServiceBlock" src="~/Images/Services Pages/Service 3 - Dark Grey Block and Car Safety.png" style="position:absolute; float:left; width:620px; height:460px; padding-top:70px; padding-left:230px;">
            <div class="Service 3 info Block" style="font-size: 18px; color: black; font-family: 'Lato', sans-serif; line-height: 200%; text-align: justify; position: relative; padding-left:150px; padding-top:70px;">
                <h4 class="Service 3 Number" style="font-size:30px; font-weight:bold; padding-left:110px; padding-top:30px;">03</h4>
                <h3 class="Service 3 Heading" style="font-size:30px; font-weight:bold; padding-left:110px;">Safety</h3>
                <ul class="Services 3 List" style="list-style-type:none; padding-top:40px; padding-left:110px;">
                    <li>Test and Repair Brakes. </li>
                    <li>Replace Brake Disc and Pads.</li>
                    <li>Shocks Test and Replace.</li>
                    <li>Multi point Safety checks carried.</li>
                </ul>
            </div>
        </div>

        <div class="Service 4 - Engine Maintenance">
            <img class="LightGreyServiceBlock" src="~/Images/Services Pages/Service 4 - Blue Block and Engine Maintenance.png" style="position:absolute; float:right; width:720px; height:460px; padding-top:71px; padding-left:150px;">
            <div class="Service 4 info Block" style="font-size: 18px; color: black; font-family: 'Lato', sans-serif; line-height: 200%; text-align: justify; position: relative; padding-left:130px; padding-top:68px;">
                <h4 class="Service 4 Number" style="font-size:30px; font-weight:bold; padding-left:580px; padding-top:30px;">04</h4>
                <h3 class="Service 4 Heading" style="font-size:30px; font-weight:bold; padding-left:580px;">Engine Maintenance</h3>
                <ul class="Services 4 List" style="list-style-type:none; padding-top:40px; padding-left:580px;">
                    <li>General Service and Maintenance of engine and other.</li>
                    <li>mechanical parts of a moto vehicle.</li>
                    <li>Minor Engine Repairs and changing of parts.</li>
                </ul>
            </div>
        </div>

        <div class="Service 5 - Mag Wheels" style="float:left;">
            <img class="RedServiceBlock" src="~/Images/Services Pages/Service 5 - Navy Block and Mag Wheels.png" style="position:absolute; float:left; width:1240px; height:600px; padding-top:110px; padding-left:230px;">
            <div class="Service 5 info Block" style="font-size: 18px; color: white; font-family: 'Lato', sans-serif; line-height: 200%; text-align: justify; position: relative; padding-left:150px; padding-top:70px;">
                <h4 class="Service 5 Number" style="font-size:30px; font-weight:bold; padding-left:110px; padding-top:80px;">05</h4>
                <h3 class="Service 5 Heading" style="font-size:30px; font-weight:bold; padding-left:110px;">Mag Wheels</h3>
                <ul class="Services 3 List" style="list-style-type:none; padding-top:40px; padding-left:110px;">
                    <li>Mag Wheels - Alloy wheels are made of an alloy of light metals, or a combination of metals.</li>
                    <li></li>
                    <li>There are a few benefits to using these types of tyres:</li>
                    <li>Open up the possibilities for fitting wider tyres and tyres with a lower profile.</li>
                    <li>They will improve the steering 'feel'.</li>
                    <li>Steering will also be more responsive and there will be less camber distortion while cornering.</li>
                    <li>Lower rolling resistance which will help acceleration and fuel consumption.</li>
                    <li>Improved side wall stability under braking and they will allow for the fitting of larger brakes.</li>

                </ul>
            </div>

        </div>

    </div>

</body>